.main-container{
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
}

.image-container{
    width: 50vw;
    height: 90vh;
    margin: auto;

}

.image{
    height: 90vh;
    width: 50vw;
    position: relative;
}

.image img{
    height: 90vh;
    width: 50vw;
}

.title-box{
    position: absolute;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.747);
    z-index: 1;
    top: 15%;
    left: 43%;
    border-radius: 5%;
}

.subtitle-box{
    position: absolute;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.616);
    z-index: 1;
    bottom: 25%;
    left: 37%;
    border-radius: 5%;
}

.arrow{
    cursor: pointer;
}